{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "macros",
            {
                "lingui": {
                    "disableStaticExtraction": false
                }
            }
        ]
    ]
}