.homepage-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Cabinet Grotesk', sans-serif;
  z-index: 0;
}

/* Background image full cover */
.banner-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/banner-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  z-index: -1;
}

/* Blur overlays */
.blur-top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7vh;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
  }
}


/* Main content */
.homepage-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media(max-width:768px){
    margin-top: 140px;
    padding: 0 16px;
  }
}
