.input-box-wrapper {
  margin-bottom: 24px;

  .label {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #000;
    background-color: #f3efff; // Light purple background
    padding: 4px 8px;
    border-radius: 4px;
  }

  &:first-of-type .label {
    margin-top: 24px; // Extra spacing for the first input
  }

  .MuiOutlinedInput-root {
    fieldset {
      border-color: #6bbde1; // Default border
    }

    &:hover fieldset {
      border-color: #6bbde1; // Hover border
    }

    &.Mui-focused fieldset {
      border-color: #5c4d7d; // Focused (active) border
    }

    &.Mui-error fieldset {
      border-color: #d32f2f; // Error border
    }
  }

  .MuiFormHelperText-root {
    font-size: 12px;
    color: #d32f2f; // Error text color
    margin-left: 0;
  }
}
// :global(.MuiFormLabel-asterisk) {
//   display: none !important;
// }   If i use this, the star mark on inputbox label will disappear while we keep the required logic. 
